{% extends 'base.html.twig' %}

{% block body %}
	<section>

		{% if isSend is defined %}
			<h1>Email sent !</h1>
		{% else %}
			{{ form(formContact) }}
        {% endif %}

		</section>
	{% endblock %}
